<table class="table is-bordered is-hoverable">
    <tbody>
        <tr>
            <td>Thickness</td>
            <td>2&nbsp;mm</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>30 cm x 30 cm</td>
        </tr>
        <tr>
            <td>Coverage area</td>
            <td>3&nbsp;m2 ( 33&nbsp;pcs ) / box</td>
        </tr>
        <tr>
            <td>Surface</td>
            <td>Deep Embossed</td>
        </tr>
        <tr>
            <td>Ressilience</td>
            <td>Good</td>
        </tr>
        <tr>
            <td>Critical Radiant Fluse</td>
            <td>0.45 Watts / cm2</td>
        </tr>
        <tr>
            <td>Light Resistance</td>
            <td>3-4 Class</td>
        </tr>
        <tr>
            <td>Lost of Heating</td>
            <td>Bellow 0.1 %</td>
        </tr>
    </tbody>
</table>