{{ partial "header" . }}

<body>
    <section class="section">
        <div class="container">
            <div class="column">
                <div class="content">
                    <h3>{{ .Title }}</h3>
                    <ul>
                        {{ range .Paginator.Pages }}
                        <li>
                            <a href="{{.Permalink}}"> {{.Title}}</a>
                            (<small>{{.Date.Format "1 Jan 2006"}}</small>)
                        </li>
                        {{ end }}
                    </ul>

                    {{ partial "pagination" . }}
                </div>
            </div>
        </div>
    </section>
</body>

{{ partial "footer" . }}