{{ partial "header" . }}

<body>
    <section class="section">
        <div class="container">
            <div class="column">
                <div class="content">
                    <div class="has-text-centered">
                        {{ .Content }}
                    </div>

                    <hr>

                    {{ $related := .Site.RegularPages.Related . | first 10 }}
                    {{ with $related }}
                    <hr>
                    <h3>Produk Yang Berkaitan</h3>
                    <ul>
                        {{ range . }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                    {{ end }}
                    <hr>
                    <p>
                        Tagar:
                        {{ $siteurl := .Site.BaseURL }}
                        {{ range .Params.tag }}
                        #<a href="{{ $siteurl }}/tag/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

{{ partial "footer" . }}