    
    <br><hr><br>

    <footer class="container">
        <div class="col-md-12 col-sm-12">
            <p>&copy; Vinyl.CO.ID - Jual Vinyl Lantai Termurah Dan Terbaik.</p>
            <p>
                <a href="{{ .Site.BaseURL }}sitemap.xml">Sitemap</a> - 
                <a href="{{ .Site.BaseURL }}kebijakan-privasi">Kebijakan Privasi</a>
            </p>
        </div>
    </footer>    
    
    <script src="{{ .Site.BaseURL }}js/jquery-3.3.1.slim.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
</body>

</html>