<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ .Description }}" />
	<meta property="fb:app_id" content="953761788043583" />
	{{ template "_internal/opengraph.html" . }}
	
	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bulma.min.css">
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
</head>

<body>
	
{{ partial "navbar" . }}
	