<nav class="navbar is-fixed-top has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL }}">
                <!-- <img src="{{ .Site.BaseURL }}/img/logo-masharga.png" alt="Logo MasHarga.COM" /> -->
                VINYL.CO.ID
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <!--
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Pipa PVC
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ .Site.BaseURL }}/harga-pipa-pvc">
                            Harga Pipa PVC
                        </a>
                        <a class="navbar-item" href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc-rucika">
                            Harga Fitting PVC Rucika
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Pipa HDPE
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ .Site.BaseURL }}/harga-pipa-hdpe">
                            Harga Pipa HDPE
                        </a>
                        <a class="navbar-item" href="{{ .Site.BaseURL }}/harga-fitting-pipa-hdpe-compression-joint">
                            Harga Fitting HDPE Compression Joint
                        </a>
                        <a class="navbar-item" href="{{ .Site.BaseURL }}/harga-fitting-pipa-hdpe-butt-fusion">
                            Harga Fitting HDPE Butt Fusion
                        </a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Pipa PPR
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ .Site.BaseURL }}/harga-pipa-ppr">
                            Harga Pipa PPR
                        </a>
                        <a class="navbar-item" href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr-wavin-tigris">
                            Harga Fitting Pipa PPR
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <span class="navbar-item">
                    <a class="button is-success" href="https://api.whatsapp.com/send?phone=6283873544537">
                        <span>WhatsApp</span>
                    </a>
                </span>
                <span class="navbar-item">
                    Phone: 021 - 5366 8955
                </span>
                <span class="navbar-item">
                    Email: sales@adibratagraha.com
                </span>
            </div>
        </div>-->
    </div>
</nav>