<!-- Topbar -->
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="top-aside top-left clearfix">
                <ul class="top-contact clearfix">
                    <li>
                        <span>Daftar Harga Berbagai Komoditas Di Pasar Lokal</span>
                    </li>
                </ul>
            </div>
            <div class="top-aside top-right clearfix">
                <ul class="top-contact clearfix">
                    <li class="t-email t-email1">
                        <em class="fa fa-envelope-o" aria-hidden="true"></em>
                        <span>
                            <a href="mailto:#">info@depoharga.com</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- #end Topbar -->