{{ partial "header" . }}

<main role="main" class="container">

    <div class="starter-template">
        <h1>Vinyl Adalah</h1>
        <p class="lead">
            Material atau bahan sintetis (buatan manusia) yang terbuat dari ethylene (terdapat pada minyak bumi mentah)
            dan chlorine.
            Pada saat diproses, keduanya bersenyawa dan membentuk resin Polyvinyl Chloride (PVC) atau yang lebih singkat
            disebut vinyl.
            Vinyl biasanya digunakan untuk wallpaper, 
            <a href="{{ .Site.BaseURL}}vinyl-lantai">lantai vinyl</a>, 
            karpet, sticker atau bahkan piringan hitam.
        </p>
        <p>
            <strong>Sejarah Vinyl</strong> <br>
            Vinyl pertama kali ditemukan pada tahun 1920 oleh seorang ilmuwan yang pada awalnya
            ingin mengembangkan sebuah material (bahan) yang akan membantu proses manufaktur untuk
            produk sehari-hari menjadi lebih mudah dibuat, memiliki ketahanan yang lebih baik dan
            juga lebih murah dibandingkan dengan material yang tersedia pada saat itu. Saat ini
            vinyl telah menjadi resin plastik kedua yang paling banyak diproduksi
            dan dijual di seluruh dunia.
        </p>
        <p>
            <strong>Keunggulan Vinyl</strong>
            <ul>
                <li>Tahan terhadap kelembaban</li>
                <li>Kuat dan tahan lama</li>
                <li>Dapat diproduksi dalam berbagai warna baik transparan maupun tidak</li>
                <li>Biaya produksi yang sangat murah</li>
            </ul>
        </p>
        <p>
            Vinyl adalah bahan plastik yang berbeda dengan plastik lainnya karena tergolong
            mudah untuk di daur ulang. Dan juga dikarenakan sifatnya yang tahan lama, produk-produk
            yang terbuat dari bahan ini memiliki umur pemakaian yang sangat panjang. Dengan fakta ini,
            vinyl dapat dibentuk menjadi produk yang tahan lama dan kemudian didaur-ulang sehingga
            umur pemakaian resin vinyl sesungguhnya sangat panjang.
        </p>
        <p>
            Apabila dibandingkan dengan berbagai material lainnya yang digunakan dalam industri pengemasan,
            vinyl adalah bahan yang membutuhkan energi paling sedikit dan sumber daya paling sedikit untuk 
            dapat diproduksi. Proses produksinya juga mengeluarkan emisi yang paling kecil pada lingkungan
            hidup.
        </p>
    </div>

</main><!-- /.container -->

{{ partial "footer" . }}